@tailwind base;
@tailwind components;
@tailwind utilities;

button,
input {
   outline: none;
}

ul,
li {
   list-style: none;
   outline: none;
}
a {
   outline: none;
}

body *::-webkit-scrollbar {
   width: 4px;
}
*::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar-track {
   box-shadow: inset #fff;
   border-radius: 4px;
}

/* Common */
@layer utilities {
   .f-center {
      @apply flex items-center justify-center;
   }

   .fx-center {
      @apply flex justify-center;
   }
   .fy-center {
      @apply flex items-center;
   }
   .fx-between {
      @apply flex items-center justify-between;
   }
}
