@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --primary-color: #ffffff;
   --secondary-color: #ffffff80;
   --alpha-color: rgba(0, 0, 0, 0.05);
   --purple-color: #ed2b91;

   --header-color: #ffffffcc;
   --header-shadow-color: rgba(0, 0, 0, 0.08);

   --sidebar-color: rgba(0, 0, 0, 0.05);
   --sidebar-popup-color: #572f90;
   --playingbar-color: var(--primary-color);

   --search-color: #757575;
   --navigation-color: #32323d;

   --border-color: #0000001a;
}

/* Common */
@layer utilities {
   .f-center {
      @apply flex items-center justify-center;
   }

   .fx-center {
      @apply flex justify-center;
   }
   .fy-center {
      @apply flex items-center;
   }
   .fx-between {
      @apply flex items-center justify-between;
   }
}

button,
input {
   outline: none;
}
